/* @font-face{
    font-family: Giloty;
    src: url()
} */
body{
    margin: 0;
    background-color: lightgray;
    padding: 1px 3px 10px 3px;
    font-family: Gilroy;
}
img{
    width: 100%
}
h2{
    margin: 0;
}
.green{
    color: lightgreen;
}
.white{
    color: white
}
.divider{
    height: 40px;
    width: 100%;
    text-align: center;
    padding: 20px;
    font-size: 20px;
}


/* HEADER */
#top-bar{
    height: 15px;
    width: 100%;
}
#top-bar>div{
    text-align: center;
    display: inline-block;
}
#promo{
    background-color: white;
    width: 75%;
}
.next-store{
    background-color: lightgreen;
    color: white;
    width: 25%;
}
#logo{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 50px
}
#nav-bar{
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 0px; 
}
/* #menu{

} */
.menu-items{
    display: inline;
    list-style: none;
    margin: 0px 25px;
    font-size: 20px;
}
/* HERO */
#hero{
    width: 100%;
    height: 650px;
    background-image: url(../Assets/Images/StubucksHero.jpg);
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
#hero-text{
    position: relative;
    top: 50%;
    margin-left: 100px;
    transform: translateY(-50%);
    line-height: 55px
}
#hero-text>*{
    margin: 0;
}
#title{
    font-size: 70px;
}
#subtitle{
    font-size: 25px;
}
#hero-button{
    background-color: black;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    font-weight: 100;
    margin-top: 20px;
    border-radius: 5px;
    border-width: 0;
}

/* SECTION NEW */

#divider-white{
    background-color: white;
}
#section-new{
    background-color: black;
    width: 100%;
    height: 650px;
}
.arrow-icon-row{
    text-align: center;
}
.arrow-icon{
    margin-top: 20px;
    width: 50px;
    display: inline-block;
}
.section-new-col{
    display: inline-block;
}
#new-product-img{
    box-sizing: border-box;
    width: 40%;
    padding: 0 30px 0 90px;
    vertical-align: middle;
}
#new-product-desc{
    box-sizing: border-box;
    width: 59%;
    vertical-align: middle;
    color: white;
    text-align: right;
    font-size: 40px;
    padding-right: 90px;
}
/* SECTION SHOP */

#section-shop{
    background-color: white;
    height: 600px;
}
#divider-green{
    background-color: lightgreen;
}
.section-shop-col{
    display: inline-block;
    width: 33%;
    text-align: center;
}
.round-img-container{
    margin: auto;
    width: 250px;
    height:250px;
}
.round-img{
    width: 100%;
    border-radius: 50%;
    height: 100%
}
.shop-title{
    font-size: 35px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 15px;
    width: fit-content;
    margin: 20px auto;
}
.shop-text{
    text-align: center;
    width: 190px;
    margin: 16px auto;
    font-size: 18px
}

/* SITEMAP */

.sitemap{
    font-size: 23px;
    padding: 30px 200px
}

#sitemap-col{
    display: inline-block;
    width: 69.5%
}
.sitemap-menu{
    display: inline-block;
    width: 35%;
    vertical-align: top;
}
.sitemap-menu-list-title{
    font-weight: bold;
    margin-bottom: 18px;
}
#social-col{
    display: inline-block;
    width: 29.5%;
    vertical-align: top;
}
.social-icon{
    display: inline-block;
    width: 30px;
    margin: 0 5px 0 0;
}

/* FOOTER */

footer{
    background-color: black;
    padding: 25px 120px;
    color: white;
    font-size: 17px
}
footer a{
    color: inherit;
}
#footer-col-1{
    display: inline-block;
    width: 24.5%
}
#footer-col-2{
    display: inline-block;
    width: 74.5%;
    text-align: right;
}