extend layout
block content
    #hero
      #hero-text.white
        h1#title
          span.green Love
          |  your Stu
        h3#subtitle Look at our range and choose the Stu that suits you
        button#hero-button Choose your coffee
    #divider-white.divider
      h2.divider-title
        | Try something 
        span.green new
        | ?
    section#section-new
      .arrow-icon-row
        .arrow-icon
          img(src='/Icons/icon- angle-arrow-down-white.png', alt='')
      #new-product-img.section-new-col
        img(src='/images/StubrewIcedCoffee.png', alt='')
      #new-product-desc.section-new-col
        h2#new-product-desc-title
          | The new 
          span.green StuBrew
        p#new-product-desc-para
          | A delicious new 
          span.green nitro brew
          |  developed
          |             carefully on the darkside of the moon, instilled with the freshness of Stu himself.
    #divider-green.divider
      h2
        span.white The Stu
        |  Shop
    section#section-shop
      .arrow-icon-row
        .arrow-icon
          img(src='/Icons/icon-angle-arrow-down-green.png', alt='')
      .section-shop-col
        .round-img-container
          img.round-img(src='/images/buyCoffee.jpg', alt='')
        h3.shop-title Shop Coffee
        p.shop-text Hand-roasted coffee, delivered fresh for ultimate flavour.
      .section-shop-col
        .round-img-container
          img.round-img(src='/images/buyTea.jpg', alt='')
        h3.shop-title Shop Tea
        p.shop-text Our finest selection of premium whole leaf tea.
      .section-shop-col
        .round-img-container
          img.round-img(src='/images/buyEquipment.png', alt='')
        h3.shop-title Shop Equipment
        p.shop-text Brewers and presses for making the perfect Stu at home.
    section.sitemap
      #sitemap-col
        dl.sitemap-menu
          dd.sitemap-menu-list-title Help
          dd.sitemap-menu-list My account
          dd.sitemap-menu-list Stu Cards
          dd.sitemap-menu-list Stu Rewards
          dd.sitemap-menu-list Shipping & Returns
          dd.sitemap-menu-list Current Offers
          dd.sitemap-menu-list Contact Us
        dl.sitemap-menu
          dd.sitemap-menu-list-title Company Info
          dd.sitemap-menu-list Code Ethics
          dd.sitemap-menu-list Responsible Sourcing
          dd.sitemap-menu-list Supply Chain
          dd.sitemap-menu-list Limited Partners
          dd.sitemap-menu-list Office Coffee
        dl.sitemap-menu
          dd.sitemap-menu-list-title About Us
          dd.sitemap-menu-list Join Stu
          dd.sitemap-menu-list Social Responsibility
          dd.sitemap-menu-list Our People
          dd.sitemap-menu-list Newsroom
      #social-col
        dl.sitemap-social
          dt.sitemap-menu-list-title Share
          dd.social-icon
            img(src='/Icons/icon-facebook.png', alt='')
          dd.social-icon
            img(src='/Icons/icon-instagram.png', alt='')
          dd.social-icon
            img(src='/Icons/icon-linkedin.png', alt='')
          dd.social-icon
            img(src='/Icons/icon-twitter.png', alt='')
          dd.social-icon
            img(src='/Icons/icon-pinterest.png', alt='')
    footer
      #footer-col-1
        p
          | Stubucks Chester 
          br
          |                 Cheshire 
          br
          |                 Since 2019
      #footer-col-2
        p
          a(href='') Stubucks Coffee
          |  |
          a(href='') Privacy Policy
          |  |
          a(href='') Terms of Service
          |  |
          br
          |                 Stubucks is not a registered trademark,infact it was just something Stuart made Dan make even though
          |                 he didn't have any spare time. But he likes designing stuff so that's OK.
